.Rproj.user
*.Rproj
.Rhistory
.Rapp.history
.RData
README.html
man/assets/
packrat/lib*/
Network_Data_Availability_100spp.html
mgm.html
mgm.md
mgm/cache/*
tools/mgm_viz.html
man/*.html
figure/
cache/
mgm_cache/
rsconnect/
script_resources/
reports/results/data_gap_eval_cache/
workflows/
reports/render_te*
reports/progress reports/*/*
reports/progress reports/*/*.Rmd

