.Rproj.user
.Rhistory
.Rapp.history
.RData
packrat/lib*/
Network_Data_Availability_100spp.html
mgm.html
mgm.md
mgm/cache/*
tools/mgm_viz.html
man/*.html
figure/
cache/
mgm_cache/
rsconnect/
script_resources/
reports/results/data_gap_eval_cache/

